*{
  font-family: Helvetica;
}
footer {
  background-color: gray;
  text-align: center;
  padding-top: 50px;
  padding-right: 400px;
  padding-bottom: 50px;
  padding-left: 400px;
}
header {
  background-color: dodgerblue;
  color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: red;
}
article{
  float: left;
}
.container {
  margin: auto;
  max-width: 1000px;
  padding: 2rem;
}
.article1 {
  width: 600px;
}
.articleside {
  width: 300px;
  float: right;
}

.clearfix::after {
content: "";
display: block;
clear: both;
}
nav{
  background-color: grey;
}
.button{
  background-color: dodgerblue;
  color: white;
  padding: 5px 15px;
  text-align: center;
  display: inline-inline-block;
  font-size: 14px;
  margin 4px 2px;
}
